@model IEnumerable<Anime>;

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Anime List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Anime" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Add Anime</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Anime
            </th>
            <th>
                Season
            </th>
            <th>
                Summary
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
            <tr>
                <td class="span4">
                    @obj.Name
                </td>
                <td class="span4">
                    @obj.Season
                </td>
                <td class="span4">
                    @obj.Summary
                </td>
            </tr>
        }
    </tbody>


</table>