@model List<UserAnimeChartModel>;


<div class="col-lg-5 col-md-12 col-7">
     <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold ">User Anime By Genre</h6>
        </div>
        <div class="card-body">

            <canvas id="myChart" style="background:#E7E9E9"></canvas>
            <script>

                var genreLabels = [];
                var genreData = [];
                var maxCounter = 0;

                @foreach(var obj in Model){
                    @:genreLabels.push("@obj.genre");
                    @:genreData.push("@obj.counter");
                    
                }
                console.log(genreLabels);
                console.log(genreData)
                const data = {
                    labels: genreLabels,
                    datasets: [{
                        label: 'Liked Anime',
                        data: genreData,
                        fill: true,
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        borderColor: 'rgb(255, 99, 132)',
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                    }]
                };

                var config = {
                    type: 'radar',
                    data: data,
                    options: {
                        scales: {
                            r: {
                                angleLines: {
                                    display: false
                                },
                                suggestedMin: 0,
                                suggestedMax: Math.max(data),
                            }
                        },
                        responsive: true,
                    }
                };
            </script>
            <script>
                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            </script>
        </div>
    </div>
</div>

@section Scripts{
   
}
