@model List<UserAnimeChartModel>;


<div class="container-fluid" style="float:left; height:500px; width:500px; background:white;" id="userChart">
    <canvas id="myChart"></canvas>
    <script>

        var genreLabels = [];
        var genreData = [];
        var maxCounter = 0;

        @foreach(var obj in Model){
            @:genreLabels.push("@obj.genre");
            @:genreData.push("@obj.counter");
                    
        }
        console.log(genreLabels);
        console.log(genreData)
        const data = {
            labels: genreLabels,
            datasets: [{
                label: 'Liked Anime',
                data: genreData,
                fill: true,
                backgroundColor: 'rgba(0, 0, 0, 0)',
                borderColor: 'rgb(255, 99, 132)',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
            }]
        };

        var config = {
            type: 'radar',
            data: data,
            options: {
                scales: {
                    r: {
                        angleLines: {
                            display: false
                        },
                        suggestedMin: 0,
                        suggestedMax: Math.max(data),
                    }
                }
            }
        };
    </script>
    <script>
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>

</div>


@section Scripts{
   
}
