@{
    ViewData["Title"] = "Dashboard";

}

@model AnimeNavigationModel;

@if(User.Identity.IsAuthenticated){
    <div class="container-fluid" style="position:absolute; min-height: 100vh;">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a class="nav-link align-middle px-0" >
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" id="mainView">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Anime Seasons</span>
                            </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                @for(int i = 0; i < 3;i++){
                                    for(int j = 0; j < 4;j++){
                                    <li>
                                        <a class="btn" id="@Model.Seasons[j]_@(Model.CurrentYear - i)"> <span class="d-none d-sm-inline" id="@Model.Seasons[j]_@(Model.CurrentYear - i)">@Model.Seasons[j] @(Model.CurrentYear - i)</span>  </a>
                                    </li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link px-0 align-middle" id="anime_history">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">My Anime</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    
                </div>
            </div>
            <div class="container-fluid" id="DashboardView" style="position:relative; min-height: 100vh;">
            </div>
            
        </div>
    </div>
  
}
else{

}


@section Scripts{
    <script src="~/js/Dashboard.js"></script>
  
}