@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid text-center p-5">
        <h1>My Anime Application</h1>
        <h4>Keep Track of Your Favorite Seasonal Anime</h4>
    </div>
</div>

<div class="container fluid text-center">
    <h1>Features</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h3>Hourly Updates</h3>
                <p>Keep track of big anime changes throughout the season.</p>
            </div>
            <div class="col-sm-4">
                <h3>Keep Track</h3>
                <p>Add your favorite anime shows to the your own list.</p>
            </div>
            <div class="col-sm-4">
                <h3>How Much Change?</h3>
                <p>Want an anime to go down? Check how much your rating would change the overall rating of an anime.</p>
            </div>
        </div>
    </div>
</div>


<div class="container fluid" id="home_page_carousel">

</div>




@section Scripts{
    <script src="~/js/home_page.js"></script>
}